<footer class="container flex items-center justify-between flex-wrap px-5 py-3 border-b gap-5 dark:border-zinc-900">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href="https://github.com/kernenyabut">GitHub</a> ·
    <a href="linkedin.com/in/kernen-yabut-753509215/">Linkedin</a> · 
    <a href="https://huggingface.co/NoIdea4Username">Hugging Face</a> · <a href="{{ '/pages/imprint' | url }}">Imprint</a> · <a href="{{ '/pages/privacy' | url }}">Privacy</a>
  </p>
</footer>
