<footer class="container flex items-center justify-between flex-wrap px-5 py-3 border-b gap-3 dark:border-zinc-900">
  <p class="float-end"><a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Back to top</a></p>
  <p>
    <a href="https://github.com/kernenyabut" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">GitHub</a> ·
    <a href="linkedin.com/in/kernen-yabut-753509215/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Linkedin</a> · 
    <a href="https://huggingface.co/NoIdea4Username" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Hugging Face</a> · <a href="{{ '/pages/imprint' | url }}">Imprint</a> · <a href="{{ '/pages/privacy' | url }}">Privacy</a>
  </p>
  <p class="center">© 2024, Kernen Yabut. Crafted with &nbsp; <a href="https://www.11ty.dev/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Eleventy </a>  &nbsp; and  &nbsp;<a href="https://tailwindcss.com/" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Tailwind </a>. </p>
</footer>
