<section id="lander" class="bg-stone-100 dark:bg-zinc-700 dark:text-white">
    <div>
      <h1 class="text-4xl uppercase bold center mb-8">Hello! I'm Kernen Yabut!</h1>
      <img class="w-full" src="../../img/Lander.jpg" alt="Project Image">
    </div>
</section>