@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust this value as needed */
    width: 100%; /* Adjust this value as needed */
  }
  .bold{
    font-weight: bold;
}