@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust this value as needed */
    width: 100%; /* Adjust this value as needed */
}

#landing{
    padding-top: 60px;
    padding-bottom: 60px;
}

.bold{
    font-weight: bold;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
    padding-bottom: 60px;
}

body{
    margin-top: 3em;
    
}

#introduction{
    padding-left: 5%;
    padding-right: 5%;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-left: 5%;
    padding-right: 5%;
    scroll-margin-top: 70px; /* Adjust based on your navbar height */
}

.collapsible-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
  
.collapsible-content.open {
    display: block;
}

#lander{
    padding-block: 10%;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}