@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust this value as needed */
    width: 100%; /* Adjust this value as needed */
}

.bold{
    font-weight: bold;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
    padding-bottom: 60px;
}

body{
    margin-top: 3em;
}

#introduction{
    padding: 5%;
}