<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} | Personal Site of Kernen Yabut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon_io/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon_io/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon_io/favicon-16x16.png"/>
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="../img/favicon_io/favicon_io"/>
    <link rel="manifest" href="/src/img/favicon_io/site.webmanifest"/>

    <script>  
      console.log(`
      _   _      _ _
      | | | |    | | |
      | |_| | ___| | | ___
      |  _  |/ _ \\ | |/ _ \\
      | | | |  __/ | | (_) |
      \\_| |_/\\___|_|_|\\___/
    `);
  console.log("I see that you are taking a little sneak peek at inner workings of my site. Nice of you to go beyond the front-end. Surf along!");

      // Remove this script if you don't need the dark mode toggle  
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } 
      else {
        document.documentElement.classList.remove('dark')
      }

      const toggleDarkMode = function(){
        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark');
          localStorage.theme = 'light';      
        } else {
          document.documentElement.classList.add('dark')
          localStorage.theme = 'dark'
        }
      };   

      const forgetPref = function(){
        localStorage.removeItem('theme')
        window.location.reload()
      }

      ////////// Mobile menu functionality //////////

      // Mobile menu dropdown
      document.addEventListener('DOMContentLoaded', function () {
        const menuButton = document.querySelector('.mobile-menu-button');
        const menu = document.querySelector('.mobile-menu');
        const nav = document.querySelector('nav');

        menuButton.addEventListener('click', (event) => {
          menu.classList.toggle('hidden');
          event.stopPropagation(); // Prevent click event from bubbling up to the document
        });

        document.addEventListener('click', (event) => {
          const targetElement = event.target; // clicked element

          if (!nav.contains(targetElement) && !menu.classList.contains('hidden')) {
            menu.classList.add('hidden');
          }
        });

        // Ensure that clicking inside the menu does not close it
        menu.addEventListener('click', (event) => {
          event.stopPropagation();
        });

        // Collapsable content functionality
        document.getElementById('toggleButton').addEventListener('click', function() {
          const content = document.getElementById('collapsibleContent');
          if (content.classList.contains('max-h-0')) {
            content.classList.remove('max-h-0');
            content.classList.add('max-h-108'); // Adjust max height as needed
          } else {
            content.classList.remove('max-h-96');
            content.classList.add('max-h-0');
          }
        });
      });
    </script>
  </head>
  <body class="dark:bg-zinc-800 dark:text-white">
    {% include "../components/navigation.njk" %}
    <main>

      {% if title == 'Home' %}
        {% include "../components/lander.njk" %} 
      {% endif %}

      <div class="lg:p-12 lg:mx-8 md:mx-4 md:p-4 sm:mx-0 sm:p-4">
        {{ content | safe }}
      </div>

    </main>
    
    <script src="/assets/main.js"></script>
    
  </body>
  {% include "../components/footer.njk" %}
  
</html>
