---
title: Home
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div class="space-y-8">
  <h2 class="text-2xl uppercase bold mb-8">Hello, I'm Kernen Yabut.</h2>
  <div>
    <p>I'm an aspiring software developer and a graduate of Conestoga College's Computer Programmer/Analyst program. With an  technology </p>
    <p></p>
  </div>


  <a href="https://github.com/tomreinert/minimal-11ty-tailwind-starter" class="inline-block uppercase rounded bg-blue-600 hover:bg-blue-700 px-4 py-2 text-white text-sm">Download on github</a>
</div>
