---
title: Home
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div id="introduction" class="space-y-8">
  <img class="mt-3" src="/img/example-image.jpg" alt="Kernen Yabut's headshot.">
  <h2 class="text-2xl uppercase bold center mb-8">Hello, I'm Kernen Yabut.</h2>
  <div>
    <p>Welcome to my little site! I'm an introverted technological tinkerer who enjoys building internet stuff with code. Hailing from the growing Region of Waterloo in Ontario, Canada, I'm an aspiring software developer and a graduate of Conestoga College's Computer Programmer/Analyst program.</p>
    <br/>
    <p>Ever since I first used my uncle's computer at the age of 3, it seemed like my interest in computers and technology in general sparked when I played with a colouring application to enjoying the early 2000's internet scene with  Newgrounds, YouTube, and Adobe Flash. My first experience at being a front-end developer happened when I was 12 when I was invited to a web developer workshop hosted by Conestoga for elementary schools and was taught about the very basics of what makes a website (mainly filling in the blanks and exploring the limited directory). From there, my first experience for back-end development happened 3 years later in high school were I was invited by my friend to my school's programming club, where I made Snake using the Turing language, followed by assisting in my friend's casino game.</p>
    <br/>
    <p>That random day of being dragged into the club room inspired me to go further! At that time I didn't even consider what I will be when I finally grow up. Taking computer science classes through my final years, I honed my skills in learning Java and developed applications such as a Craps game to a phone directory. After graduating high school, I studied at Conestoga College as part of the Computer Programmer/Analyst program, where I further refined my skills in various languages such as Java, C#, HTML/CSS, C++, and PHP. Afterwards, during my gap years, I picked up Python and dabbled in the emerging field of artificial intellgence and machine learning. I’m seeking a full-time role where I can help a company achieve their goals.
    </p>
    <br/>
    <p>I'm an aspiring software developer and a graduate of Conestoga College's Computer Programmer/Analyst program. With an interest in computing and emerging technology, you might have seen some of my works mentioned on social media in the form of AI-synthenized voices, or photo editing. When I'm not tinkering with the latest tools on the internet, I volunteer at Fairview Mennonite Homes as the Link Ambassador for the Links2Wellbeing program.</p>
    <p></p>
  </div>


  <a href="https://github.com/tomreinert/minimal-11ty-tailwind-starter" class="inline-block uppercase rounded bg-blue-600 hover:bg-blue-700 px-4 py-2 text-white text-sm">Download on github</a>
</div>
